
###> symfony/framework-bundle ###
.env
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/

/.env.local
/.env.local.php
/.env.*.local
/.env.*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env
.env.local
/phpunit.xml
.phpunit.result.cache
.phpunit.result.cache
/phpunit.xml
/public/assets/
/assets/vendor/

./config/packages/doctrine.yaml

*.cnf

compose.yaml

./scripSQL/*.sh