{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('user/legal-mentions/legal-mentions.css') }}" type="text/css">
{% endblock %}

{% block body %}
	<main>
		<div class="container clearfix center brand">
			<div class="heading-block topmargin-sm bottommargin-sm center">
				<h3 class="legal-title">Conditions générales</h3>

				<p class="mention-text">
					Dernière mise à jour : [Date]
					
					[Nom de l'Entreprise] ("nous", "notre" ou "nos") s'engage à protéger la vie privée de ses utilisateurs ("vous").
					
					Cette Politique de Confidentialité explique comment nous collectons, utilisons, divulguons et protégeons vos
					informations lorsque vous visitez notre site web [URL du site web], y compris tout autre média, canal de médias,
					site web mobile ou application mobile liée ou connectée à celui-ci.
					Veuillez lire attentivement cette Politique de Confidentialité avant d'utiliser notre site web, car elle vous aidera
					à comprendre quelles données nous collectons, comment nous les utilisons et quels sont vos droits.
					Collecte d'Informations
					
					Nous pouvons collecter des informations personnelles identifiables, telles que votre nom, adresse e-mail, et numéro
					de téléphone, lorsque vous volontairement nous les fournissez. Si vous accédez à notre site via un appareil mobile,
					nous pouvons également collecter des informations sur votre appareil mobile, son système d'exploitation, et votre
					localisation.
					
					Utilisation des Informations
					
					Les informations que nous collectons sont utilisées pour :
					
					Personnaliser votre expérience sur le site et nous permettre de vous proposer le type de contenu et les offres
					produits qui vous intéressent le plus.
					Améliorer notre site web afin de mieux vous servir.
					Vous permettre de participer à des interactions interactives sur notre site.
					Gérer un concours, une promotion, ou une enquête.
					Divulgation à des Tiers
					
					Nous ne vendons, n'échangeons, ni ne transférons à des tiers vos informations personnellement identifiables sans
					vous en informer, sauf dans les cas suivants :
					
					Fournisseurs de services tiers qui nous assistent dans l'exploitation de notre site web, la conduite de nos
					affaires, ou le service à nos utilisateurs, tant que ces parties conviennent de garder ces informations
					confidentielles.
					Lorsque la divulgation est nécessaire pour se conformer à la loi, faire respecter nos politiques de site web, ou
					protéger nos droits, propriété ou sécurité ou ceux d'autres.
					Sécurité des Données
					
					La sécurité de vos informations personnelles est importante pour nous, mais n'oubliez pas qu'aucune méthode de
					transmission sur Internet, ou méthode de stockage électronique n'est sécurisée à 100 %. Bien que nous nous
					efforcions d'utiliser des moyens commercialement acceptables pour protéger vos informations personnelles, nous ne
					pouvons garantir leur sécurité absolue.
					
					Vos Droits
					
					Vous avez le droit à tout moment de :
					
					Demander l'accès à vos données personnelles.
					Demander la correction ou la suppression de vos données personnelles.
					Vous opposer au traitement de vos données personnelles.
					Modifications de Notre Politique de Confidentialité
					
					Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications
					entreront en vigueur immédiatement après leur publication sur le site web. Nous vous encourageons à consulter
					régulièrement cette page pour être informé de tout changement.
					
					Contactez-Nous
					
					Si vous avez des questions concernant cette Politique de Confidentialité, vous pouvez nous contacter en utilisant
					les informations ci-dessous :
					
					[Nom de l'Entreprise]
					[Adresse]
					[Email]
					[Numéro de Téléphone]
				</p>
			</div>
		</div>
	</main>
{% endblock %}
