:root {
    --primary_color: #1BBC9C;
    --site_primary_color: var(--primary_color);
    --site_secondary_color: #000000;
    --main_background_color: #FFFFFF;
    --main_background_text_color: #232222;
    --top_bar_bg_color: #F2F2F2;
    --top_bar_text_color: #000000;
    --top_bar_link_color: #000000;
    --top_bar_link_hover_color: #000000;
    --slider_title_text_color: #000000;
    --slider_subtitle_text_color: #000000;
    --primary_menu_color: #FFFFFF;
    --primary_menu_hover_color: #000000;
    --submenu_background_color: var(--primary_color);
    --submenu_color: #FFFFFF;
    --submenu_hover_color: #232222;
    --slider_button_primary_color: #000000;
    --slider_button_secondary_color: var(--primary_color);
    --page_heading_color: #000000;
    --page_sub_heading_color: #000000;
    --section_heading_color: #000000;
    --section_subheading_color: #000000;
    --primary_button_color: #191919;
    --secondary_button_color: #000;
    --footer_bg_color: #FFFFFF;
    --footer_text_color: #232222;
    --footer_link_color: #232222;
    --footer_link_hover_color: #232222;
    --header_bar_bg_color: #FFFFFF;
    --header_bar_text_color: #000000;
    --header_bar_link_color: #000000;
    --header_bar_link_hover_color: #006f50;
    --bottom_footer_bg_color: #F2F2F2;
    --bottom_footer_text_color: #000000;
    --bottom_footer_link_color: #232222;
    --bottom_footer_link_hover_color: #232222;
    --sticky_header_bar_bg_color: #FFFFFF;
    --sticky_header_bar_text_color: #000000;
    --sticky_header_bar_link_color: #000000;
    --sticky_header_bar_link_hover_color: var(--primary_color);
}